@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply antialiased;
  overflow: hidden
}

* {
  scrollbar-width: none;
  @apply transition-all duration-100 ease-in;
}

#video-container {
  scroll-snap-points-y: repeat(3rem);
  scroll-snap-type: y mandatory;
  min-height: calc(100vh - 56px);
  scroll-padding: 2rem 0 0 0;
}

#sidebar {
  scroll-snap-points-y: repeat(3rem);
  scroll-snap-type: y mandatory;
  min-height: calc(100vh - 56px);
  /* scroll-padding: 2rem 0 0 2rem; */
  scrollbar-width: none;
}

.visible {
  opacity: 1;
  visibility: visible;
}
